*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Poppins", serif !important;
}
body{
  background: #1E201E !important;
  overflow-x: hidden;
} 
.gap{
  width: 100%;
  height: 50px;
}
.section{
  opacity: 0;
  width: 100%;
}
.section.active{
  opacity: 1;
}
header{
  width: 100%;
  padding: 1.4rem 2rem;
  position: fixed;
  top: 0;
  transition: 0.5s ease-in;
  z-index: 1;
}
header .box{
  opacity: 0.5;
  /* position: absolute; */
}
header .box:nth-child(1){
  width: 80px;
  height: 80px;
  border-radius: 50px;
  top: 20px;
  left: 90%;
  background: var(--primary-color);
  opacity: 0.3;
}
:root{
  --text-color:#d6d4d4;
  --primary-color:#FF0099;
  --bg-color:#1E201E;
}
p{
  color: var(--text-color);
}
header h1{
  color: #fff;
  animation: heading 0.5s ease-in;
}
header ul{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
header ul li a{
  color: var(--text-color);
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  position: relative;
  margin: 0 0.5rem;
  display: block;
  opacity: 0;
  animation: links 0.5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
header ul li a::before{
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 6px;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.3s transform;
}
header ul li a:hover::before{
  transform: scaleX(1);
}
.hire-me{
  background: #FF0099;
  border-radius: 20px;
  padding: 0.3rem 1.7rem;
  outline:none;
  border: none;
  color: #fff;
  transition: 0.3s ease-in;
}
.hire-me:hover{
  background-color: #ff00999b;
} 
.left .designation{
  color: var(--primary-color);
}
.about-me{
  padding: 1.4rem 0;
   position: relative;
   animation: banner 0.4s ease-in;
   overflow-x: hidden;
}
.about-me .left{
  animation: left 0.4s ease-in forwards;
}
.about-me .right{
  animation: right 0.4s ease-in forwards;
}
.right .circle{
  overflow: hidden;
  z-index: -1;
  background: #FF0099;
  background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
  border-radius: 37% 63% 38% 62% / 44% 33% 67% 56% ;
  width:100%;
  position: relative;
  height: 500px;  
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
.right:hover .circle{
  box-shadow: 0 0 20px var(--primary-color) !important;
}
.right .circle img{
  height: 100%;
}
.right .circle:hover{
  box-shadow: 0 0 50px #FF0099;
}
.box{
  border-radius: 37% 63% 38% 62% / 44% 33% 67% 56%;
  background: #FF0099;
    background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
  width: 150px;
  height: 150px;
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: -1;
  opacity: 0.7;
}
.skills_section{
  position: relative;
  overflow-x: hidden;
}
.skills_section .background_box{
  position: absolute;
  height: 20vh;
  width: 100%;
  background: #FF0099;
  background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
  z-index: -1;
}
.card_title{
  color: #FF0099;
}
.my_card{
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 0 8px #FF0099;
  transform: translateX(-100px);
  opacity: 0;
}
.skills_section.active .my_card{
  transform: translateX(0);
  transition: 0.4s ease-in-out;
  transition-delay: calc(.2s * var(--i));
  opacity: 1;
}
.services{
  overflow-x: hidden;
}
.services .card{
  transform: translateX(-100px);
  opacity: 0;
}
.services.active .card{
  transform: translateX(0);
  transition: 0.4s ease-in-out;
  transition-delay: calc(.2s * var(--i));
  opacity: 1;
}
.my_card img{
  width: 70px;
}
.card{
  background: var(--bg-color) !important;
  border: none !important;
  outline: none;
}
.card .card-img-top{
  width: 90px;
}
.about_my_resume .information span,
.about_my_resume .skills span
{
  color: var(--primary-color);
}
.about_my_resume .skills li{
  color: var(--text-color);
}
.about_my_resume .resume{
  display: block;
  margin-left: 60%;
  transform:translateX(-60%);
}
.about_my_resume .actual-content .information li,
.about_my_resume .actual-content .skills li{
  opacity: 0;
  transform: translateX(-50px);
}
.about_my_resume.active .actual-content .information li,
.about_my_resume.active .actual-content .skills li{
  transform: translateX(0);
  transition: 0.4s ease-in-out;
  transition-delay: calc(.2s * var(--i));
  opacity: 1;
}
.contact-me{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.contact-me .text-fields .fields{
  margin: 15px 0;
  height: 50px;
}
.contact-me .content .text-fields .fields input,
.contact-me .content .text-fields .fields .message
{
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color:rgb(59, 58, 58) ;
  padding:0.5rem 1rem;
}
.contact-me .content .text-fields .fields .message{
  border-radius: 10px;
  height: 70px;
}
.contact-me .content .text-fields .fields input::placeholder{
  color: var(--text-color);
}
.contact-me .content button{
  margin-top: 1.5rem;
}
.contact-me .text-fields{
  transform: translateX(-100px);
  transition: 0.4s ease-in;
}
.contact-me .map{
  transform: translateX(100px);
  transition: 0.4s ease-in;
}
.contact-me.active .text-fields{
  transform: translateX(0);
}
.contact-me.active .map{
  transform: translateX(0);
}
@media screen and (max-width:395px) {
  header .content ul{
    display: none !important;
  }
}
@keyframes banner{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes left {
  0%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes right {
  0%{
    transform: translateX(100px);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes links {
  0%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}